html {
    font-size: 100%;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: Monaco, 'Courier New', monospace;
    background-color: rgb(15, 45, 50);
}

body {
    color: white;
    margin: 1rem 5rem;
    padding: 0.1rem 3rem;
    border-radius: 0.25rem;
}

input[type=text] {
    font-family: Monaco, 'Courier New', monospace;
    color:turquoise;
    font-size: 2rem;
    background-color: transparent;
    border-width:0px;
    border:none;
    width: 100%;
    margin: 8px 0;
}

#prompt::placeholder {
    color: turquoise;
    opacity: 0.5;
  }

input:focus {
    outline:none!important;
}

