.flex-container {
    display: flex;
    flex-direction: column;
}

.col {
    max-width: 100%;
}


@media (min-width: 640px) {
    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .col {
        width: 50%;
    }
}