a[href^="mailto:"]::before {
    content: none;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.item {
    max-width: 100%;
}

@media (min-width: 640px) {
    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .item-60 {
        width: 60%
    }

    .item-40 {
        width: 40%
    }

    .item {
        width: 50%;
    }
}

.project-name {
    width: 33%;
}
